body{
    background-color: #0a2234;
}
div#topbar{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 200px;
    height: 70px;
    width: 1400px;

}
div#info-rect-1{
    background-color: transparent;
    opacity: 0.7;
    position: absolute;
    top: 80px;
    left: 200px;
    width: 1400px;
    height: 120px;
    border-radius: 10px;
    padding: 0;


}
/*div#info-rect-2{
     background-color: green;
     position: absolute;
     top: 100px;
     left: 670px;
     width: 460px;
    height: 100px;
    border-radius: 10px;
    padding: 0px;


}
div#info-rect-3{
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 1140px;
    width: 460px;
    height: 100px;
    border-radius: 10px;
    padding: 0px;

}*/
div#sidebar{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
}
div#barchart{
    background-color: transparent;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 800px;
    height: 600px;
}
div#linechart{
    background-color: transparent;
    position:absolute;
    top: 200px;
    left: 1010px;
    width: 600px;
    height: 200px;
}
div#piechart{
    background-color: transparent;
    position:absolute;
    top: 400px;
    left: 1010px;
    width: 600px;
    height: 400px;
}
div#heatmap{
    background-color: transparent;
    position:absolute;
    top: 800px;
    left: 1000px;
    width: 600px;
    height: 200px;
}
div#monthchart{
    background-color: transparent;
    position:absolute;
    top: 800px;
    left: 200px;
    width: 800px;
    height: 200px;
}
.xaxis path{
    stroke: transparent;
}
.xaxis line {
    stroke: transparent;
}

.yaxis path{
    stroke: transparent;
}
.yaxis line {
    stroke: #6b8193;
}