<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 Bar Chart</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div id="topbar"></div>
    <div id="info-rect-1"></div>
<!--    <div id="info-rect-2"></div>
    <div id="info-rect-3"></div>-->
    <div id="sidebar"></div>
    <div id="barchart"></div>
    <div id="piechart"></div>
    <div id ="linechart"></div>
    <div id="monthchart"></div>
    <div id="heatmap"></div>



    <!--<button type="button" class="update">Update</button>-->
    <!--<button type="button" class="add">Add</button>-->
    <!--<button type="button" class="remove">Remove</button>-->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="../static/app.js"></script>


</body>
</html>